
body{
	 background: url(background.jpg);
	 background-size: cover;
	 background-position: center;
	 background-attachment: fixed;
	 max-width: 1200px;
  	 min-width: 300px;
  

	}


table	{
	border: 3px dotted red;
	padding: 10px;
}


h1{
	margin-top: 20px;
	padding-top: 20px;
}


a{
	text-decoration: none;
	color: #3D9949;
}


footer{
	font-family: 'Lato', sans-serif;
}


#total-content{
	background: white;
	width: 800px;
	margin: 0 auto;
	padding-left:25px; 
	padding-right:25px;
	padding-bottom: 30px
}


#main-content{
	background: white;
	width: 800px;
	margin: 0 auto;
	padding-left:75px; 
	padding-right:75px;	
}


.text{
	font-family: 'Lato', sans-serif;
}


.images {
	width: 800px;
	margin: 0 auto;
}

@media screen and (max-width: 500px) {
  body {
    background: white;
  }
}



